<mat-card>
  <img mat-card-image src="{{movie.urlPoster}}" alt="" (error)="onImageError($event)">
  <mat-card-content>{{movie.title}}</mat-card-content>
  <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
  <mat-card-subtitle>{{movie.rating}}</mat-card-subtitle>
</mat-card>
