
.title {
  text-align: center;
  color: red;
}

h1 {
  margin-bottom: 0px;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
}
nav a {
  text-align: left;
  color: white;
}

header {
  background-color: #131313;
}
