<header>
  <nav>
    <div fxLayout="row" fxLayoutGap="16px">
      <a>Homepage</a>
      <a>Series</a>
      <a routerLink="/movies">Movies</a>
    </div>
  </nav>
  <h1 class="title">{{title}}</h1>
</header>
<div class="content" role="main">
  <router-outlet>

  </router-outlet>
</div>

