<div class="filter">
  <div fxLayout="row wrap">
    <div fxFlex="80">
      <h2>Movies</h2>
    </div>
    <div fxFlex="20">
      <h5>Sort by</h5>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="80">
      <form>
        <mat-form-field >
          <input matInput type="text">
          <mat-placeholder class="placeholder">Search for title</mat-placeholder>
        </mat-form-field>
      </form>
    </div>
    <div fxFlex="10"
         fxFlex.md="33"
         fxFlex.sm="50"
         fxFlex.xs="100">
      <button mat-button (click)="sortListByLetters()" *ngIf="oppositeLetter">(Z-A)</button>
      <button mat-button (click)="sortListByLetters()" *ngIf="!oppositeLetter">(A-Z)</button>
    </div>
    <div fxFlex="10"
         fxFlex.md="33"
         fxFlex.sm="50"
         fxFlex.xs="100">
      <button mat-button (click)="sortListByRatings()" *ngIf="oppositeRating">rating (low to high)</button>
      <button mat-button (click)="sortListByRatings()" *ngIf="!oppositeRating">rating (high to low)</button>
    </div>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="movies-list">
  <div fxFlex="20"
       fxFlex.md="33"
       fxFlex.sm="50"
       fxFlex.xs="100"
       *ngFor="let movie of movies">
    <app-movie-poster [movie]="movie"></app-movie-poster>
  </div>
</div>

