.filter {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #171717;
  color: white;
}

.movies-list {
  padding: 3%;
  height: 268.1px;
  background-color: #1D1D1D;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: #dce2f4 !important;
  opacity: 50%;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #2e2f36 !important;
  opacity: 50%;
}
.placeholder {
  color:  #dce2f4 ;
  opacity: 50%;
}
